@media screen and (min-width: 1440px) {
    
    /* header */

    .header-div {
        padding: 50px 165px 0px 165px;
        width: 1110px;
    }

    .header-button:hover {
        background-color: rgba(23, 35, 57, 1);
        color: rgba(250, 248, 246, 1);
        cursor: pointer;
    }

    /* super solution div */

    .super-solution-div {
        padding: 67px 164px 199px 166px;
        flex-direction: row;
        justify-content: center;
        gap: 96px;
    }

    /* super solution */

    .super-solution {
        width: 825px;
    }

    /* super solution content */

    .super-solution-image-desktop {
        width: 350px;
        height: 600px;
    }

    .super-solution-image-tablet {
        display: none;
    }

    /* super solution content */

    .super-solution-content {
        width: 635px;
        margin-right: -162px;
    }

    .super-solution-content img {
        width: 287px;
        height: 36px;
        margin: 0px 0px 21.32px 290px;
    }

    .super-solution-content h1 {
        width: 635px;
        font-size: 72px;
        line-height: 78px;
        letter-spacing: -1px;
    }

    .super-solution-content p {
        margin-bottom: 52px;
    }

    .super-solution-content button:hover {
        background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
        cursor: pointer;
    }

    /* companies */

    .companies {
        flex-direction: column;
        align-items: start;
        width: 190px;
    }

    .companies span {
        width: 190px;
        text-align: start;
    }

    .companies p {
        width: 190px;
        text-align: start;
    }


    /* works */

    .works-div {
        padding: 0px 164px 0px 167px;
    }

    .works {
        width: 872px;
        padding: 0px 125px 0px 112px;
        flex-direction: row;
        gap: 30.2px;
        height: 545px;
        margin: 0px auto -265px;
    }

    .works-image {
        width: 375px;
        height: 600px;
        margin: 0px;
        margin-top: -55px;
    }

    .works-image img {
        width: 375px;
        height: 600px;
    }

    .works-image-div {
        width: 300px;
        height: 300px;
        top: 250px;
        right: 30px;
    }

    .jeremy-image {
        display: none;
    }

    .rkali {
        margin-top: -190px;
    }

    .works-content {
        justify-content: center;
        align-items: start;
    }

    .works-content h2 {
        width: 299px;
        text-align: start;
    }

    .works-content p {
        width: 350px;
        text-align: start;
    }

    .jeremy {
        align-items: start;
    }

    .jeremy h3 {
        width: 165px;
        text-align: start;
        font-size: 17px;
    }

    .jeremy span {
        width: 165px;
        text-align: start;
    }

    /* footer */

    .footer-div {
        padding: 360px 164px 72px 167px;
        width: 1110px;
    }

    .footer-div img {
        margin-right: 410px;
    }

    .footer-div p {
        margin-right: 377px;
    }

    .social-icons img {
        margin: 0px;
    }
}